---
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<main>
			<div>
				{
					// Loop from 1 to 11 with buttons
					Array.from({ length: 11 }, (_, i) => i + 1).map(
						(chapter) => (
							<button type='button' data-part={chapter}>
								{chapter}
							</button>
						)
					)
				}
			</div>

			<script>
				import { AudioPlayer } from "../../js/AudioPlayer";
				// An array containing the URLs for the loop and ending audios for each part
				const audioData = [
					{ loop: "/audio/1-loop.m4a", ending: null },
					{
						loop: "/audio/2-loop.m4a",
						ending: "/audio/2-ending.m4a",
					},
					{
						loop: "/audio/3-loop.m4a",
						ending: "/audio/3-ending.m4a",
					},
					// Add more parts here...
				];

				// Create a new instance of the AudioPlayer class
				const audioPlayer = new AudioPlayer(audioData);

				// Load the audio buffers
				audioPlayer.loadAudioBuffers().then(() => {
					console.log("Audio buffers loaded.");
				});

				// Listen for 'audioEvent' on the window object and update the progress bar
				window.addEventListener("audioEvent", (event) => {
					const duration = event.detail.duration;
					const progressBar =
						document.getElementById("progress-bar")!;

					progressBar.style.transitionDuration = `${duration}s`;
					progressBar.style.width = "100%";
					setTimeout(() => {
						progressBar.style.width = "0%";
						progressBar.style.transitionDuration = "0s";
					}, duration * 1000);
				});

				// Button event listeners
				document
					.querySelectorAll("button[data-part]")
					.forEach((button) => {
						button.addEventListener("click", (event) => {
							const newPart = event.target!.dataset.part;
							audioPlayer.switchToNextAudio(newPart);
						});
					});
			</script>

			<div id='progress-bar-container'>
				<div id='progress-bar'></div>
			</div>
		</main>

		<style>
			#progress-bar-container {
				position: relative;
				width: 100%;
				height: 5px;
				background-color: #eee;
			}

			#progress-bar {
				position: absolute;
				left: 0;
				top: 0;
				height: 5px;
				width: 0%;
				background-color: #2196f3;
				transition-property: width;
				transition-timing-function: linear;
			}
		</style>
	</body>
</html>
