---
import Router from "../partials/Router.astro";
import Head from "../partials/Head.astro";
import Chapter from "../components/Chapter.astro";
import Background from "../components/Background.astro";
import Transition from "../components/Transition.astro";
---

<!DOCTYPE html>
<html lang='en' class='bg-[#110E1D]'>
  <Head />
  <body
    x-data
    class='font-code text-lg text-secondary min-h-screen text-opacity-[95%]'
  >
    <Background /><div
      class='py-12 lg:py-24 flex flex-col gap-32 min-h-screen justify-center'
    >
      <Chapter
        title='The Legend of MonoMax'
        alt='Pixel art panorama of superhero MonoMax in pink attire and cape standing defiantly in front of a roaring fire at night.'
        chapter={0}
        question={{
          text: "Do you want a handcrafted retro soundtrack to accompany your heroic journey with MonoMax? It will give you +10 in nostalgia and immersive gameplay.",
          answers: [
            "Yes, let's move with music!",
            "No, I prefer to quest in quiet.",
          ],
        }}
      >
        <p>
          Welcome to the digital realm of CMS superheroes! Join an adventure
          where MonoMax, a modern but monolithic CMS like e.g. <a
            class='underline underline-offset-2'
            href='https://statamic.com'>Statamic</a
          >, faces the challenge of a new era. You'll guide MonoMax through a
          journey of transformation as we explore the tug of war between
          traditional CMS powers and the rise of Headless Heroes.
        </p><p>
          It's more than a tech tale; it's a quest about adaptability and the
          evolution of digital content management. Gear up for an epic ride!
        </p>
      </Chapter>
      <Chapter
        title='I. The Power Paradox'
        alt='Pixel art of a pink superhero soaring over a city at night.'
        chapter={1}
      >
        <p>
          In a vibrant pixelated city, MonoMax soars through the digital sky. As
          an all-encompassing CMS superhero, he handles any web content
          challenge with his wide range of monolithic abilities. The city's
          digital operations run smoothly under his watch, fostering confidence
          and peace among its inhabitants.
        </p>
        <p>
          However, whispers of a new generation, the Headless Heroes, have begun
          to stir. Promises of increased flexibility, adaptability, and
          scalability sow seeds of doubt within MonoMax. In an age where
          specialization is increasingly celebrated, he ponders his place and
          future in this rapidly evolving digital landscape.
        </p>
      </Chapter>
      <Chapter
        title='II. The Ability Abyss'
        alt='Pixel art of a pink superhero looking over a cityscape at night.'
        chapter={2}
        question={{
          text: "Why should MonoMax drop his form handling powers?",
          answers: [
            "Dodge the infamous Spambot Squad, notorious for flooding heroes with unwanted submissions!",
            "Evade the cunning Phisherman, scheming to compromise his secure data fortress!",
            "Avoid the sinister Field Fiddler, exploiting vulnerable fields to wreak web content havoc!",
          ],
        }}
      >
        <p>
          One day, after foiling a nefarious plot, MonoMax finds himself perched
          on a rooftop, contemplating his future. The city's lights twinkle
          below him as he ponders the possibility of shedding some of his
          powers, starting with his form handling abilities. As he gazes out at
          the city he has sworn to protect, he wonders what reasons could
          justify his decision.
        </p>
      </Chapter>
      <Chapter
        title='III. The Enigmatic Envelope'
        alt='Panoramic pixel art of a pink superhero standing in front of a large, mysterious computer terminal inside a cyberpunk library filled with server racks, LEDs, tablets, computers, and monitors, located in a cave setting at night.'
        chapter={3}
        question={{
          text: "Why should MonoMax drop his search powers?",
          answers: [
            "Escape the Query Quagmire's sluggish search speeds and poor rankings!",
            "Tired of battling the Keyword Kraken, a beast feasting on poorly optimized search results!",
            "Avoid the perplexing PageRank Paradox and its ever-changing search algorithm maze!",
          ],
        }}
      >
        <p>
          With a sigh of relief, MonoMax carries the Enigmatic Envelope
          containing a piece of code representing his form handling powers to a
          hidden library filled with ancient servers and futuristic holographic
          displays. Placing the envelope in a specific slot in the library's
          central computer terminal, his ability to create and process forms is
          disabled.
        </p>
        <p>
          As he embraces his newfound freedom, a new superhero emerges from the
          shadows: FormMaster. Agile and specialized, FormMaster takes on the
          responsibility of form handling, ensuring that every submission is
          processed with precision and finesse. Now, MonoMax sets his sights on
          his search powers, ready to let go of yet another ability.
        </p>
      </Chapter>
      <Chapter
        title='IV. The Search Stone'
        chapter={4}
        alt='Pixel art panorama of a strong pink superhero inside a cave illuminated by shimmering crystalline light at night, wide shot.'
        question={{
          text: "Why should MonoMax drop his assets saving power?",
          answers: [
            "Break free from the Cache Catastrophe's endless storage issues and slow loading times!",
            "Avoid the never-ending fight against the Bandwidth Bandit, a villain stealing precious resources!",
            "Experience the power of CDNs and the wonders of unlimited disk space and caching!",
          ],
        }}
      >
        <p>
          MonoMax makes his way to the secret depths of a hidden cave, home to
          the legendary Search Stones. He carefully positions the stone
          containing his search powers, allowing the cave's mystical light to
          bathe it. As the engraved symbols begin to fade, so too do his search
          abilities.
        </p>
        <p></p>
        <p>
          With his burden lifted, a new superhero, SearchSorceress, emerges from
          the shadows. Swift and specialized, SearchSorceress harnesses the
          power of search algorithms, delivering accurate results with speed and
          efficiency. Having relinquished two of his powers, MonoMax
          contemplates his next move: to let go of his assets saving ability.
        </p>
      </Chapter>

      <Chapter
        title='V. The Cryptic Cloud'
        chapter={5}
        alt='Panoramic pixel art of a strong pink superhero standing on a pedestal surrounded by hovering data crystals in Cryptic Cloud, a mystical realm hidden within the swirling mists of cyberspace, depicted at night, wide shot.'
        question={{
          text: "Why should MonoMax drop his templating power?",
          answers: [
            "Unleash the ultimate freedom to choose any frontend stack, free from constraints!",
            "Utilize the latest and greatest web technologies for limitless possibilities!",
            "Harness the power of structured data, making web development a breeze!",
          ],
        }}
      >
        <p>
          MonoMax journeys to the Cryptic Cloud, a mystical realm hidden within
          the swirling mists of cyberspace. He carries the Asset Amulet, a relic
          that holds the essence of his assets saving power. As he places the
          amulet on a pedestal surrounded by hovering data crystals, his assets
          saving ability is suspended.
        </p>
        <p>
          From the swirling mists, a new superhero emerges: AssetAce, an expert
          in managing digital assets with unparalleled efficiency. With three
          powers now shared among specialized superheroes, MonoMax ponders his
          next challenge: relinquishing his ability to create templates.
        </p>
      </Chapter>
      <Chapter
        title='VI. The Temple of Templates'
        chapter={6}
        alt='Panoramic pixel art of a pink superhero in an ancient temple structure, hidden deep within the canyons of a night-time digital computer LED landscape, wide shot.'
        question={{
          text: "Which protocol should MonoMax choose to enable frontend authentication?",
          answers: [
            "Embrace the GraphQL Guardians, protectors of the powerful query language!",
            "Join forces with the REST Rangers, champions of the classic API design!",
            "Team up with the Auth0 Avengers, experts in identity management and security!",
          ],
        }}
      >
        <p>
          MonoMax ventures to the Temple of Templates, an ancient structure
          hidden deep within the canyons of the digital landscape. In his hands,
          he holds the Chalice of Creativity, a vessel that contains the essence
          of his templating powers. As he pours the contents of the chalice into
          a glowing pool of liquid code, his templating abilities are released.
        </p>
        <p>
          From the shimmering pool, a legion of Template Titans arises, each a
          master of their own frontend domain. Giving up his templating powers,
          MonoMax realises that he now has to find other ways to have the power
          of frontend authentication.
        </p>
      </Chapter>
      <Chapter
        title='VII. The Dilemma of Disintegration'
        chapter={7}
        alt='Panoramic pixel art of a row of colorful and diverse superheroes, standing against a city backdrop at night, wide shot.'
        question={{
          text: "How should ModuMax handle this mission?",
          answers: [
            "By doing extensive research and teaming up with the perfect combination of specialized superheroes!",
            "By building strong collaborations and forming a default stack of superheroes to work with!",
          ],
        }}
      >
        <p>
          At the point where MonoMax chose his future protocol, a mission comes
          his way: building a secure eLearning platform with personalized
          content for each user. This task would have been a breeze for MonoMax,
          but now, he finds himself overwhelmed. He needs to coordinate with a
          multitude of specialized superheroes to ensure seamless integration of
          authentication, content management, and so on. MonoMax wonders how to
          handle this mission.
        </p>
      </Chapter>
      <Chapter
        title='VIII: The Chaos of Collaboration'
        chapter={8}
        alt='Pixel art of a chaotic scene featuring a diverse group of superheroes, including a pink one, in action at night.'
      >
        <p>
          As MonoMax attempts to assemble the specialized superheroes, harmony
          proves elusive. Each superhero's unique abilities clash, creating a
          storm of miscommunication and conflicting priorities, mirroring the
          disarray of headless web projects.
        </p>
        <p>
          The eLearning platform mission, once simple, morphs into a Gordian
          knot. The superheroes, struggling to work together, create more
          problems than solutions. Amidst the chaos, MonoMax begins to question
          the merits of his decision to release his powers.
        </p>
      </Chapter>
      <Chapter
        title='IX: The Metamorphosis of MonoMax'
        chapter={9}
        alt='Pixel art depicting the transformation of a pink superhero from male to female at night.'
      >
        <p>
          Amidst the tumult, a spark of realization ignites within MonoMax. He
          comprehends that he can reclaim his powers and still call upon his
          specialized allies as needed. With this revelation, he discerns his
          true potential: being adaptable, both monolithic and modular.
        </p>
        <p>
          Thus, MonoMax transforms into ModuMax, capable of harnessing the best
          of both worlds. Embracing her new identity, she tackles the eLearning
          platform mission with newfound ease, deftly wielding her restored
          powers while remaining open to collaboration.
        </p>
      </Chapter>
      <Chapter
        title='X: The Triumphant Transformation'
        chapter={10}
        alt='Pixel art of a pink superheroine soaring over a city illuminated by fireworks at night.'
      >
        <p>
          Emerging from the remnants of MonoMax, ModuMax takes flight, ushering
          in a new era of hope and dynamism in the digital realm. Her
          transformation embodies the power of adaptability and the importance
          of a balanced approach to using monolithic and headless CMS systems.
        </p>
        <p>
          As the city embraces its new guardian, her tale of triumph challenges
          the conventional understanding of what a superhero could be.
          Celebrated for her adaptability, collaboration, and the perfect
          balance she strikes using diverse CMS systems, ModuMax paves the way
          for a promising future.
        </p>
      </Chapter>
      <Chapter
        title='XI: The Marvelous ModuMax'
        alt='Pixel art of a pink superheroine gazing over a cityscape at night.'
        chapter={11}
        question={{
          text: "You've made it! ♥ I hope you found this journey as exciting to undertake as it was for me to create! If you're curious to delve deeper, check out these pathways:",
          answers: [
            {
              text: "github.com | Dive into the heart of the adventure! Explore the 'Legend of MonoMax' on GitHub.",
              href: "https://github.com/mariohamann/legend-of-monomax",
            },
            {
              text: "mariohamann.de | Who's behind this digital tale? Visit my personal website to find out more!",
              href: "https://mariohamann.de/",
            },
            {
              text: "statamic.com | Meet Statamic, my go-to CMS after years of WordPress exploration. A true Modulith!",
              href: "https://www.statamic.com/",
            },
            {
              text: "getkirby.com | Curious about Kirby? It's widely appreciated in my circle, and their docs are nice.",
              href: "https://getkirby.com/",
            },
          ],
        }}
      >
        <p>
          ModuMax, revered and respected, now stands as the beacon of innovation
          and resilience in the city. She rises each day, ready to adapt to
          whatever new challenge the digital world presents, her modular powers
          symbolizing the city's willingness to evolve.
        </p>
        <p>
          As the dawn of a new era breaks, the city sleeps soundly, knowing
          their guardian is ever-watchful, ever-flexible. ModuMax, with her
          unyielding spirit and ceaseless innovation, is a true testament to the
          power of embracing change, setting an inspiring precedent for the
          future heroes of the digital realm.
        </p>
        <p>– The End.</p>
      </Chapter>
    </div><div
      id='overlay'
      class='relative z-0 ease-linear transition-opacity opacity-0 pointer-events-none'
    >
      <Background />
      <Transition
        from={0}
        text='<span class="hidden" id="ios-warning">iDevice user! Please make sure to turn off "Do not disturb".</span>'
      />
      <Transition
        from={1}
        text='Expect the unique with Statamic.<br/>Generic clones not included.'
      />
      <Transition
        from={2}
        text="Static Site Caching with forms?!<br/>Starter Kit 'Peak' is a peek away."
      />
      <Transition
        from={3}
        text='Local or Algolia search?<br/>Choose your weapon – or find more on the marketplace.'
      />
      <Transition
        from={4}
        text='Flysystem for asset storage:<br/>local, remote or both.'
      />
      <Transition
        from={5}
        text='Choose your templating:<br/>Antlers, Blade, or headless CMS via REST/GraphQL.'
      />
      <Transition
        from={6}
        text='Protect your content:<br/>user, IP, password or DIY-custom checks.'
      />
      <Transition from={7} text='Start simple, and adapt as you grow.' />
      <Transition
        from={8}
        text='Simplify your tech stack -<br/> even no database needed!'
        '
      />
      <Transition
        from={9}
        text='A CMS of firm guidelines,<br/> but flexible rules.'
      />

      <Transition
        from={10}
        text='JAMStack.org lists 350+ SSGs & 100+ headless CMS.<br/> Only Statamic appears in both.'
      />
    </div>
    <div
      id='navigation'
      class='fixed top-0 left-0 w-full h-1 opacity-0 transition-all duration-150'
    >
      <div class='bg-secondary opacity-50 absolute w-full h-full'></div>
      {
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10].map((chapter) => (
          <div
            class='absolute h-full'
            style={{ left: `${(chapter * 100) / 11}%; width: ${100 / 11}%` }}
          >
            <div
              id={`navigation-${chapter + 1}`}
              class='bg-secondary w-0 absolute left-0 h-full top-0 transition-all ease-linear'
            />
          </div>
        ))
      }
    </div>
    <Router />
  </body>
</html>
