<div
  class='background fixed top-0 left-0 bg-cover w-screen h-screen bg-center -z-10 blur-[5px] lg:blur-[6px] xl:blur-[7px] 2xl:blur-[8px]'
>
</div>
<style>
  .background {
    background: url("./images/bg.jpeg");
    filter: hue-rotate(-10deg) brightness(0.9);
  }
</style>
