<div
  class=`bg-special-gradient fixed top-0 left-0 bg-cover w-screen h-screen -z-10 scale-[100%]`
>
</div>

<style>
  .bg-special-gradient {
    background: rgb(11, 8, 27);
    background: radial-gradient(
      circle,
      rgb(155, 106, 145) 0%,
      #97668f 11%,
      rgb(109, 66, 107) 29%,
      rgb(81, 54, 90) 45%,
      rgb(62, 41, 76) 60%,
      rgba(11, 8, 27, 1) 100%
    );
  }
</style>
