---
export interface Props {
  to?: number;
}

const { to } = Astro.props;
---

<div class='w-full text-center'>
  <a
    href=`#chapter-${to}`
    class='border-2 outline-none rounded-md border-secondary px-4 py-2 hover:bg-secondary focus:bg-secondary hover:text-primary focus:text-primary transition-colors duration-300'
    ><slot>Continue</slot></a
  >
</div>
