---
export interface Props {
	to?: number;
}

const { to } = Astro.props;
---

<div class='w-full text-center'>
	<a
		href=`#chapter-${to}`
		class='border-2 mt-4 outline-none border-secondary px-2 py-1 hover:bg-secondary focus:bg-secondary hover:text-primary focus:text-primary'
		><slot>Continue</slot></a
	>
</div>
